body {
    background-image: url('background.jpg');
    margin: 0px !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.perfil {
    width: 250px;
    height: 250px;
}

.box-perfil {
    text-shadow: 2px 2px 4px #000000;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
}