body {
    background-color: hsla(200, 40%, 30%, .4);
    background-image: url('background.jpg');
    background-repeat: repeat-x;
    background-position: 0 20%, 0 100%, 0 50%, 0 100%, 0 0;
    background-size: 2500px, 800px, 500px 200px, 1000px, 400px 260px;
    animation: 50s para infinite linear;
}

@keyframes para {
    100% {
        background-position: -5000px 20%, -800px 95%, 500px 50%, 1000px 100%, 400px 0;
    }
}

.perfil {
    width: 250px;
    height: 250px;
}

.box-perfil {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 40px;
    letter-spacing: 6px;
    word-spacing: 6px;
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
}