@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
* {
    margin: 0;
    padding:0;
}

body{
    background-color: #f5f5f5;
    font-family: "Roboto", sans-serif;

}

.container {
    background-image: url(../img/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    
}



header {
    margin-top: 0;
    padding: 45px 50px 50px 150px;
    height: auto;
}

header h3 {
    text-transform: uppercase;
    
    font-weight: bold;
    color: #FFFFFF;
    float: left;
    cursor: pointer;
    margin: 0;
}

header nav {
 
    float: right;
}

header nav ul{
    margin: 0;
}

header nav ul li{
    display: inline-block;
    margin: 0 25px 0 25px;
}

header nav ul li a{
    text-decoration: none;
    font-size: 15px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: "Helvetica Neue", sans-serif;

}

header nav ul li a:hover{
    color: rgba(0, 0, 0, 0.5);
}

main article #preview{
    padding-top: 4%;
}

main article #preview {
    text-align: center ;
}

main article #preview h2{
    color: #FFFFFF;
    font-size: 40px ;
    cursor: pointer;
    font-family: Roboto, sans-serif;
}


main article #preview  ul {
    margin-top: 10px;
}

main article #preview  ul li {
   display: inline;
   padding: 0px 20px 0 20px;
}

main article #preview  ul li a{
    text-decoration: none;
    font-size: 17px;
    color: #FFFFFF;
    font-family: "Helvetica Neue", sans-serif;
}

.img-perfil{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid rgba(255, 255, 255, 0.1);

}

.info{
    padding-top: 18px;
}

.img-perfil-about {
    width: 350px;
    height: 450px;
}

section div.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 12rem;
    width: 100%;
    height: 50%;
    background-color: #f5f5f5;
}


section div.about-container .about-img{
    padding: 60px 0px 50px 100px;
}


section div.about-container .about{
    padding: 50px 240px 50px 0px;
}

section div.about-container .about ul{
    padding-top: 20px;
}

section div.about-container .about ul{
    padding-top: 20px;
}

section div.about-container .about h4{
    font-size: 32px;
}

section div.about-container .about p{
    font-size: 15px;

}

.s-light{
    border-radius: 50px;
    background: #f5f5f5;
    box-shadow:  11px 11px 21px #d0d0d0, 
                 -11px -11px 21px #ffffff;
}